<div class="flex flex-col items-center justify-center h-screen ">
  <%= image_tag 'logo-blue.png', alt: 'cashFlo', style: 'width:300px;' %>
  <div class="my-16 flex flex-col items-center justify-center w-80 mx-auto">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {"data-turbo": "false", class: 'w-full'}) do |f| %>
      <h1 class="font-bold text-center mb-6 text-2xl text-slate-500">Sign Up</h1>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="w-full rounded-2xl bg-gray-50 ring-2 ring-gray-200 my-4">
        <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: 'Name', required: true, class: 'w-full px-4 rounded-2xl border-none bg-gray-50 outline-none focus:outline-none' %>
      </div>
      <div class="w-full rounded-2xl bg-gray-50 ring-2 ring-gray-200 my-4">
        <%= f.email_field :email, autocomplete: "email", placeholder: 'Email', required: true, class: 'w-full px-4 rounded-2xl border-none bg-gray-50 outline-none focus:outline-none' %>
      </div>
      <div class="w-full rounded-2xl bg-gray-50 ring-2 ring-gray-200 my-4">
        <%= f.password_field :password, autocomplete: "new-password", placeholder: 'New Password (Min 6 characters)', required: true, class: 'w-full px-4 rounded-2xl border-none bg-gray-50 outline-none focus:outline-none' %>
      </div>
      <div class="w-full rounded-2xl bg-gray-50 ring-2 ring-gray-200 my-4">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'Confirm Password', required: true, class: 'w-full px-4 rounded-2xl border-none bg-gray-50 outline-none focus:outline-none' %>
      </div>
      <div class="actions my-4">
        <%= f.submit "Sign Up", class: "w-full rounded-2xl border-b-4 border-b-blue-600 bg-blue-500 py-2 mb-4 font-bold text-white hover:bg-blue-400 active:translate-y-[0.125rem] active:border-b-blue-400" %>
      </div>
    <% end %>
    <div class="flex items-center space-x-4 w-full">
      <hr class="w-full border border-gray-300" />
      <div class="font-semibold text-gray-400 w-[38rem] text-center">Have an account?</div>
      <hr class="w-full border border-gray-300" />
    </div>
    <%= link_to "Sign In", new_user_session_path, class: "w-80 rounded-2xl border-b-4 border-b-blue-500 bg-blue-400 py-2 my-4 font-bold text-white text-center hover:bg-blue-300 active:translate-y-[0.125rem] active:border-b-blue-300" %>
  </div>
</div>
