<div class="max-w-md border-1 drop-shadow-lg bg-white rounded hover:bg-gray-50 mx-auto">
  <%= link_to transaction_path(invoice.id) do %>
    <div class="grid grid-cols-12 p-2 py-3 gap-y-2">
      <div>
        <img class="object-cover max-w-24 max-h-24 rounded-xl" src="<%= url_for(invoice.category.icon) %>" alt="<%= invoice.category.name %>">
      </div>
      <div class="col-span-7 ml-2 flex flex-col justify-center">
        <h3 class="text-gray-600 text-xl"><%= invoice.name %></h3>
        <p class="text-gray-400"><%= invoice.created_at.strftime("%d %b %Y") %></p>
      </div>
      <div class="flex col-start-auto mx-auto justify-center items-center flex-col text-right">
        <p class="rounded text-slate-500 font-semibold w-max">$ <%= invoice.amount %> </p>
        <p class="text-gray-400 w-max"><%= invoice.category.name %></p>
      </div>
    </div>
  <% end %>
</div>
