<div class="container mb-12 items-center justify-center mx-auto pb-10 pt-20">
  <div class="grid grid-cols-6 p-2 py-4 gap-y-2">
    <div class="rounded drop-shadow-lg border-2 w-full bg-white col-span-3 flex flex-col justify-center item-center mx-auto p-4">
      <div class="text-slate-500 font-semibold w-max">TOTAL EXPENSES</div>
      <div class="text-slate-500 font-semibold w-max"><%= category_sum(current_user.invoices)%></div>
    </div>
    <div class="rounded drop-shadow-lg w-full border-2 bg-white col-span-3 flex flex-col justify-center item-center mx-auto p-4">
      <div class="rounded text-slate-500 font-semibold w-max">LAST 30 DAYS</div>
      <div class="rounded text-slate-500 font-semibold w-max"><%= last_month_sum(current_user.invoices)%></div>
    </div>
  </div>
  <div class="flex flex-col gap-4 items-center justify-center px-4">
    <%= render partial: "category", collection: @categories.order(:id) %>
  </div>
  <div class="fixed bottom-0 left-0 right-0 z-1 h-14 flex items-center justify-center">
    <div class="md:hidden w-full h-14 flex items-center justify-center bg-gradient-to-r from-[#409b00] to-[#347604] hover:from-[#347604] hover:to-[#409b00] z-10">
      <%= link_to 'Add Category', new_category_path, class: 'text-[15px] text-gray-200 font-bold' %>
    </div>
    <div class="hidden md:flex w-full h-14 items-center justify-center z-10">
      <%= link_to 'Add Category', new_category_path, class: "w-80 rounded-2xl border-1 py-2 my-4 font-bold text-white text-center bg-gradient-to-r from-[#409b00] to-[#347604] hover:from-[#347604] hover:to-[#409b00] active:translate-y-[0.125rem] drop-shadow-lg" %>
    </div>
  </div>
</div>
