<div class="container mb-12 items-center justify-center mx-auto pb-10 pt-24">
  <div class="my-16 flex flex-col items-center justify-center w-80 mx-auto">
    <h1 class="font-bold text-center mb-6 text-2xl text-slate-500">New Invoice</h1>
    <%= form_with model: @invoice, url: transactions_path, local: true, html: {"data-turbo": "false", class: 'w-full'} do |form| %>
      <% if @invoice.errors.any? %>
        <div class="border px-7 py-3 mb-4 border-red-400 bg-red-200 font-medium">
          <% @invoice.errors.full_messages.each do |msg| %>
            <p><%= msg %></p>
          <% end %>
        </div>
      <% end %>
      <div class="w-full rounded-2xl bg-gray-50 ring-2 ring-gray-200 my-4">
        <%= form.text_field :name, required: true, placeholder: 'Invoice Name', class: 'w-full px-4 rounded-2xl border-none bg-gray-50 outline-none focus:outline-none' %>
      </div>
      <div class="w-full rounded-2xl bg-gray-50 ring-2 ring-gray-200 my-4">
        <%= form.number_field :amount, value: number_to_currency(form.object.amount.to_f, delimiter: '.', unit: '$'), step: :any, required: true, placeholder: 'Invoice Amount $', class: 'w-full px-4 rounded-2xl border-none bg-gray-50 outline-none focus:outline-none' %>
      </div>
      <div class="w-full rounded-2xl bg-gray-50 ring-2 ring-gray-200 my-4">
        <%= form.select :category_id, options_from_collection_for_select(@categories, "id", "name"), {}, { class: 'w-full px-4 rounded-2xl border-none bg-gray-50 outline-none focus:outline-none' } %>
      </div>
      <%= form.submit "Submit", class: "w-full rounded-2xl border-b-4 border-b-blue-500 bg-blue-400 py-2 my-4 font-bold text-white text-center hover:bg-blue-300 active:translate-y-[0.125rem] active:border-b-blue-300" %>
    <% end %>
  </div>
</div>
