<!DOCTYPE html>
<html>
  <head>
    <title>Cashflo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
  </head>
  <body class="mx-auto bg-slate-100 flex flex-col">
    <header>
      <% if user_signed_in? %>
        <%= render partial: "shared/navbar" %>
      <% end %>
    </header>
    <main class="w-full mx-auto bg-slate-100 flex flex-col">
      <%= yield %>
    </main>
  </body>
</html>
